.vh-100 {
    height: 100vh;
}

.center-vertical {
    top: 50%;
    transform: translateY(-50%);
}

.sidebar-item {
    padding-right: 100px;
}

.main-font {
    color: white;
    font-family: Lucida Console;
}

.login-box {
    width: 50%;
    max-width: 500px;
    text-align: center;
    margin: auto;
    margin-top: 28vh;
    border-style: solid;
    border-color: lightgreen;
    border-radius: 8px;
}

.text-input {
    margin-top: .5vw;
    margin-bottom: .5vw;
    font-weight: bold;
    display: inline-block;
    width: 100%
}

.text-input > input {
    width: 70%;
    max-width: 300px;
    margin-top: .5vw;
    background-color: lightgrey;
}

.text-input > label {
    font-size: max(min(2vh, 20px), 15px);
}

.text-input > label > .context-text{
    font-size: max(min(2vh, 13px), 10px);
    color:lightgreen;
}

.submit-button {
    transition-duration: 0.4s;
    background-color:green;
    color: white;
    margin-top: 1vh;
    margin-bottom: 2vh;
    border-color: black;
    border-width: 2px;
    border-radius: 8px;
    padding: 1vh;
}

.submit-button-disabled {
    background-color:grey;
    color: black;
    margin-top: 1vh;
    margin-bottom: 2vh;
    border-color: black;
    border-width: 2px;
    border-radius: 8px;
    padding: 1vh;
}

.submit-button:hover {
    background-color: white;
    color: green;
    border-color: green;
}

.container-lobby {
    color: white;
    font-family: Lucida Console;
    text-align:center;
    vertical-align:middle;
    overflow-wrap: break-word;
    border-color: green;
}

.row-header {
    font-size: 2.5vh;
    padding-bottom: 1vh;
}

.join-button {
    transition-duration: 0.4s;
    background-color:green;
    color: white;
    margin: 1vh;
    border-radius: 6px;
}

.join-button:hover {
    background-color: white;
    color: green;
    border-color: green;
}

.border-green {
    border-color: lightgreen!important;
}

.border-medium {
    border-radius: 8px;
    border-style: solid;
    border-width: medium;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.no-gutters .col, [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

.lobby-box {
    width: 70%;
    max-width: 1000px;
    margin: auto;
    margin-top: 5vh;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.lobby-header-box {
    margin-top: -1px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.chat-box {
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-right: -3px;
    margin-top: -3px;
    margin-bottom: -3px;
}

.ready-box {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    margin-bottom: -3px;
}